$body-background: #c3cfe2;
$border-radius: 20px;
$box-shadow: 0 6px 10px rgb(58, 56, 56);
$white: #fff;

@mixin font-face {
  font-face {
    font-family: "roboto";
    src: url("/Roboto-Medium.ttf");
  }

  p,
  h2,
  h3 {
    font-family: "roboto", sans-serif;
  }
}

@mixin center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover($text) {
  &:hover {
    width: 8rem;
    transition: all ease-in-out 0.5s;
    justify-content: space-around;

    &::after {
      content: $text;
      color: $white;
      text-decoration: underline;
    }
  }
}
